$brand: #06D806;
$brandMuted: #55ad55;
$accent: #221919;
$accentMuted: #634f4f;
$textLight: #f0ebeb;
$textMedium: #5e5555;
$textDark: #1a0f06;
$background: #fff8f2;
$backgroundMuted: #d4cbc5;
$lightGrey: #ececec;