$brand: #06D806;
$brandMuted: #60A460;
$accent: #1a0f06;
$accentMuted: #494541;
$textLight: #f0ebeb;
$textMedium: #474747;
$textDark: #1a0f06;
$background: #FFFEF5;
$backgroundTransparent: rgba(255, 254, 245, .5);
$backgroundMuted: #D7D6D0;
$lightGrey: #ececec;

$fm_light: #FDFDFD;
$fm_mid: #F1ECE7;
$fm_dark: #3D3D3D;
$fm_grey: #999;