:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: var(--montserat-font);
=======
  font-family: var(--jost-font);
>>>>>>> ecd5825b7d38fce645bf8363ca4a4fe9bca92f98
}

h1 {
  font-family: var(--inconsolata-font);
  font-weight: 900;
}
