@import '../../styles/var';

.container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  width: 60px;
  height: 60px;
  background-color: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;


  svg {
    fill: $brand;
    width: 80%;
    margin-top: 4px;
  }
}