@import '../../styles/var'; 

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px 0;
  background: $brandMuted;

  @media screen and (min-width: 500px) {
    flex-direction: row;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 769px) {
    width: 50%;
  }

  h1 {
    color: $lightGrey;
  }
}

.maskContainer {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 85%;
    fill: $brand;
    position: relative;
    z-index: 102;
    margin: 10px 0 0 0;
  }

  .maskBack {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: $lightGrey;
    position: absolute;
    z-index: 101;
  }
}

.contact {
  width: 80%;
  margin: 0 10% 30px;

  h5 {
    color: $textLight;
    margin: 0;
    padding: 0;
  }

  h3 {
    color: $background;
    margin: 5px 0 0;
    padding: 0;
  }

  a {
    color: $textLight;
    font-size: 14px;
    display: block;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 $textLight;
    margin: 10px -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

  a:hover {
    box-shadow: inset 100px 0 0 0 $textLight;
    color: $brand;
  }

  @media screen and (min-width: 500px) {
    width: 40%;
    margin: 0 5%;
    padding: 0;
  }

  @media screen and (min-width: 769px) {
    width: 25%;
  }
}

.links {
  width: 100%;

  @media screen and (min-width: 500px) {
    width: 50%;
  }

  @media screen and (min-width: 769px) {
    width: 25%;
  }
}

