@import '../../styles/var'; 

.container {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 30px 0;
  background: $brandMuted;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
