@import '../../styles/var';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1001;
  top: 20px;
  right: 20px;
  background: $lightGrey;
  margin: 0;
  padding: 13px 20px 7px;
  border-radius: 7px;
  width: 150px;

  a {
    text-decoration: none;
    opacity: 0.5;
    transition: opacity .5s ease-in-out;
    width: 25px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transition: opacity .5s ease-in-out;
    }
  }

  svg {
    width: 100%;
    fill: $brand;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1001;
  background: $lightGrey;
  margin: 0;
  padding: 5px 0;
  border-radius: 7px;
  width: 40px;

  a {
    text-decoration: none;
    opacity: 0.5;
    transition: opacity .5s ease-in-out;
    width: 25px;
    padding: 5px 0;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transition: opacity .5s ease-in-out;
    }
  }

  svg {
    width: 100%;
    fill: $brand;
  }
}