@import '../../styles/var';

.container {
  width: 100%;
  background: $fm_dark;
  margin: 0;
  padding: 0 0 30px;
  position: relative;

  h1 {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', sans-serif;
    color: $fm_light;
    font-size: 30px;
    letter-spacing: 0.03em;
    padding: 30px 5%;
    margin: 0;
    text-align: center;
    opacity: 0.9;

    @media screen and (min-width: 551px) {
      font-size: 40px;
    }

    @media screen and (min-width: 799px) {
      font-size: 60px;
    }

    @media screen and (min-width: 1001px) {
      font-size: 80px;
    }
  }
}

.filterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;

  @media screen and (min-width: 799px) {
    flex-direction: row;
    max-width: 820px;
    margin: 30px auto;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 799px) {
    width: 50%;
  }

  video {
    width: 90%;
    max-width: 400px;
    margin: 20px 5%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 30px 0;

  @media screen and (min-width: 799px) {
    width: 50%;
  }
}

.descriptionContainer {
  width: 90%;
  background: $fm_mid;
}

.title {
  font-family: 'Jost', sans-serif;
  color: $fm_light;
  text-align: left;
  width: 90%;
  margin: 0 0 0 10%;
}

.description {
  font-family: 'Jost', sans-serif;
  color: $fm_dark;
  margin: 10%;
}

.insta {
  width: 30px;
  height: 30px;
  margin: 10px 0 0 0;

  svg {
    width: 100%;
    fill: $fm_light;
  }
}

.spark {
  width: 23px;
  height: 30px;
  margin: 5px 0 0 0;

  svg {
    width: 100%;
  }
}

.qrCode {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 0;
}

.filterLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  margin: 15px 5% 0 5%;

  .insta {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;

    svg {
      width: 100%;
    }
  }

  .spark {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;

    svg {
      width: 100%;
    }
  }

  .qrCode {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    margin: 0 0 0 auto;

    img {
      width: 100%;
    }

    p {
      font-family: 'Bangers', sans-serif;
      font-size: 14px;
      color: $fm_light;
      margin: 0;
      padding: 5px 0 0 0;
    }
  }
}